.lmo-page-links a {
  float: right;
}

.lmo-expert-advice {
  display: flex;
  justify-content: center;
}
.lmo-expert-advice__expert {
  margin: auto;
  width: 100px;
  height: 100px;
}

.lmo-expert-advice__advice {
  font-style: italic;
}

.lmo-page-title {
  color: $mui-primary-color;
}
