.lmo-page-links a {
  float: right;
}

.lmo-expert-advice {
  display: flex;
}
.lmo-expert-advice__expert {
  min-width: 200px;
}

.lmo-expert-advice__advice {

}

.lmo-page-title {
  display: inline-block;
  border-bottom: 1px solid $mui-primary-color;
}
