@import 'mui-sass/mui-rem.scss';
@import 'sidedrawer';
@import 'toc';
@import 'lmo';

/**
 * Body CSS
 */
html,
body {
  height: 100%;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */

.lmo-page {
  max-width: 45rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  img {
    max-width: 100%;
  }
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }

  #sidedrawer {
    transform: translate(200px);
  }

  #content-wrapper {
    margin-left: 200px;
  }

  #footer {
    margin-left: 200px;
  }

  body.hide-sidedrawer #header {
    left: 0;
  }

  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }

  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }

  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Footer CSS
 */
#footer {
  background-color: $mui-primary-color;
  color: $mui-base-font-color;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}

/* ensure jump to accounts for header */
:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}

.mui-container-fluid {
  article{
    img {
      max-width: 100%;
    }
  }
}
