#sidedrawer {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 200px;
   left: -200px;
   overflow: auto;
   z-index: 2;
   background-color: #fff;
   transition: transform 0.2s;
 }

#sidedrawer-brand {
  padding-left: 20px;
}

#sidenav strong+ul>li {
  padding: 1em;
}

.sidenav--child {
  padding: .4em 0;
}

#sidenav ul {
  list-style: none;
  padding: .5em 0;
  @include mui-text("menu");
}

#sidenav > ul {
  padding-left: 0;
}

#sidenav > ul > li > ul {
  padding-left: 2em;
}

#sidenav > ul > li > ul > li > ul{
  padding-left: 2em;
}

#sidenav > ul > li:first-child {
  padding-top: 15px;
}

#sidenav strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidenav strong:hover {
  background-color: #E0E0E0;
}

#sidenav strong + ul > li {
  padding: 6px 0px;
}

/**
 * Toggle Side drawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */
.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}
