aside.toc {
  @include mui-text("menu");
  margin-left: 3em;
  float: right;
  max-width: 20em;
  ul {
    list-style-type: none;
    padding-left: 0;
    ul {
      padding-left: 1em;
    }
  }
  li {
    padding: .2em 0;
  }
}
