{{ $original := .Page.Resources.GetMatch (.Get "src") }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ if eq $command "fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of fit, fill or resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}

<img src="{{ $image.RelPermalink }}"
     {{ with .Get "class"}} class="{{.}}"{{ end }}
     {{ with .Get "alt"}} alt="{{.}}"{{ end }}
     width="{{ $image.Width }}"
     height="{{ $image.Height }}" class="">
