/* OVERRIDES */
.markdown-section{
  font-size: 1.7rem;
  line-height: 1.5;
}

.markdown-section blockquote{
  color: auto;
}

.markdown-section h3{
  font-size: 1.2em;
}

/*FRONT PAGE*/

.emoji-bullet{
  font-size: 250%;
  float: left;
  margin: -4px 4px 0 0;
}

.tile{
  padding: 0.5em;
  margin: 0 10px 10px 0;
  float: left;
}


.tile-33pc{width: calc(33% - 10px);}
.tile-50pc{width: calc(50% - 10px);}
.tile-67pc{width: calc(67% - 10px);}

.tile-media a{color: #333;}
.tile-media img{width: 100%;}
.tile-media h3{font-size: 120%}

.media-list {clear: both; min-height: 133px;}
.media-list a{color: #333;}
.media-list img{margin-bottom: 1em;}


@media only screen and (max-width: 970px) {
  .tile, .tile-30pc, .tile-50pc, .tile-70pc{
    width: 100%;
    margin-right: 0;
    float: none;
    clear: both;
  }
}


.your-story{
  color: #888;
  border: 1px dashed;
  padding: 0em 1em 2em 1em;
}

/* VIDEO */

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 1em;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* IMAGES */

img{max-width: 100%; }

.img-left{
  float: left;
  margin-right: 1em;
  clear: both;
}

.img-right{
  float: right;
  margin-left: 1em;
  clear: both;
}

.proposal-example{
  float: right;
  margin-left: 1em;
  clear: both;
  width: 300px;
}

.img-center{
  margin: auto 0;
  clear: both;
}

.img-70px{ width: 70px; }
.img-100px{ width: 100px; }
.img-200px{ width: 200px; }
.img-250px{ width: 250px; }
.img-300px{ width: 300px; }
.img-50pc{ width: 50%; }

hr, .clear{clear: both;}

.mobile-visible{
  display: none;
}
.mobile-hidden{
  display: inherit;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/*
  These rules only apply to screens less than 600px wide.
  They override rules placed earlier in this file.
*/

@media only screen and (max-width: 600px) {
  .img-50pc, .img-250px, .img-300px, .img-500px{
    width: 100%;
  }
  .img-left, .img-right{
    clear: both;
    float: none;
  }
  .mobile-visible{
    display: inherit;
  }
  .mobile-hidden{
    display: none;
  }
}
