<div id="sidedrawer">
  <nav id="sidenav" class="mui--no-user-select">
    <!-- Side drawer content goes here -->
    <div id="sidedrawer-brand" class="mui--appbar-line-height mui-appbar">
      <img src="/icon128.png" class="sidedrawer-icon">
      <a class="mui--text-title mui--appbar-font-color" href="/">
        {{.Site.Title}}
      </a>
    </div>
    <div class="mui-divider"></div>
    <ul class="sidenav--level-1">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li>
          <a href="{{ .URL }}">
            {{ .Pre }}
            <strong>{{ .Name }}</strong>
          </a>
          {{ if hasPrefix $currentPage.URL .URL }}
            {{ if .HasChildren }}
              <ul>
                {{ range .Children }}
                  {{- partial "sidenav/child.html" . -}}
                {{ end }}
              </ul>
            {{ end }}
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>
</div>
